<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>%%HeaderTitle%%</title>
<meta name="description" content="%%descriptionmeta%%">
<meta name="keyword" content="YourDay, some, random keyword">
<meta name="author" content="Mahinul Abid">
<!-- <link rel="icon/image" href="./src/img/favicon.png"> -->
<!-- **icon** -->

<meta property="og:title" content="Your Day!" />
<meta property="og:description" content="Share your todays thought with other people" />
<meta property="og:image" content="https://images.unsplash.com/photo-1678872537245-296b738873ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" />


<!-- probably needs ejs to avoid this type of error -->
<style>
    /*%%styles%%*/
    
</style>